:root {
    --win-bg: #f0f0f0;
    --win-border: #828790;
    --accent: #28a745;
}

body {
    margin: 0; font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--win-bg); height: 100vh; display: flex; flex-direction: column;
}

/* Cabecera */
.main-header {
    height: 40px; background: white; border-bottom: 2px solid var(--win-border);
    display: flex; justify-content: space-between; align-items: center; padding: 0 15px;
}

/* Contenedor Principal */
.app-container {
    display: flex; flex: 1; overflow: hidden;
}

/* Sidebar */
.sidebar-config {
    width: 300px; border-right: 2px solid var(--win-border); padding: 15px;
    background: #fdfdfd; display: flex; flex-direction: column; gap: 10px;
}

.input-group { display: flex; flex-direction: column; }
.input-row { display: flex; gap: 10px; }
.input-row div { flex: 1; }

label { font-size: 12px; font-weight: bold; margin-bottom: 2px; }
select, input { padding: 5px; border: 1px solid var(--win-border); }

.btn-add { 
    margin-top: 10px; padding: 10px; background: var(--accent); 
    color: white; border: none; font-weight: bold; cursor: pointer;
}

/* Visor */
.visor-area { flex: 1; display: flex; flex-direction: column; background: #eee; }
#container3d { flex: 1; position: relative; border: 1px solid #ccc; margin: 10px; background: #000; }
.placeholder-text { color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.selection-bar {
    height: 60px; background: white; border-top: 2px solid var(--win-border);
    display: flex; align-items: center; justify-content: space-between; padding: 0 20px;
}

/* Footer */
.main-footer {
    height: 50px; background: #e1e1e1; border-top: 2px solid var(--win-border);
    display: flex; justify-content: space-between; align-items: center; padding: 0 10px;
}

.main-footer button { 
    padding: 6px 12px; margin: 0 2px; background: white; border: 1px solid #777; cursor: pointer;
}

.btn-exit { color: white; background: #d9534f !important; }